<h1 style = "color:Brown">Basic Mathematical Functions</h1>

<h3 style = "color:Purple">rounded_num = round(num)</h3>

In [3]:
println(round(3.2))

println(round(3.5))

println(round(3.6))

3.0
4.0
4.0

<h3 style = "color:Purple">rounded_num = round(type, num)</h3>

In [5]:
n1 = round(Int, 77.6)
println(n1, ' ', typeof(n1))

n2 = round(UInt32, 56.276)
println(n2, ' ', typeof(n2))

78 Int64
56 UInt32

<h3 style = "color:Purple">rounded_num = round(num, digits = number_of_digits)</h3>

In [7]:
n3 = 2π
println(n3)
println(round(n3, digits = 2))

6.283185307179586
6.28

<h3 style = "color:Purple">rounded_num = floor([type], num)</h3>

<h3 style = "color:Purple">rounded_num = ceil([type], num)</h3>

In [9]:
println(floor(3.45))

println(ceil(3.45))

3.0
4.0

<h3 style = "color:Purple">absolute_value = abs(num)</h3>

<h3 style = "color:Purple">squared_absolute_value = abs2(num)</h3>

In [12]:
println(abs(4))

println(abs(-4))

println(abs(3+4im))

4
4
5.0

In [13]:
println(abs2(3+4im))

25

<h3 style = "color:Purple">value = sign(num)</h3>

In [15]:
println(sign(0))

println(sign(-30))

println(sign(30))

0
-1
1

<h3 style = "color:Purple">lcm_value = lcm(num1, num2, ...)</h3>

<h3 style = "color:Purple">gcd_value = gcd(num1, num2, ...)</h3>

In [16]:
println(lcm(3, 5, 6))

30

In [17]:
println(gcd(5, 30, 45))

5

<h3 style = "color:Purple">result = sqrt(num)</h3>

In [19]:
println(sqrt(9))

println(√9)

3.0
3.0

<h3 style = "color:Purple">result = cbrt(num)</h3>

In [21]:
println(cbrt(8))

print(∛8)

2.0
2.0

<h3 style = "color:Purple">exponent = exp(num)</h3>

<h3 style = "color:Purple">exponent = exp2(num)</h3>

<h3 style = "color:Purple">exponent = exp10(num)</h3>

In [24]:
println(exp(0))

println(exp2(3))

println(exp10(3))

1.0
8.0
1000.0

<h3 style = "color:Purple">loge_value = log(num)</h3>

<h3 style = "color:Purple">log2_value = log2(num)</h3>

<h3 style = "color:Purple">log10_value = log10(num)</h3>

In [27]:
println(log(2.7185))

println(log2(8))

println(log10(100))

1.0000802576038383
3.0
2.0

<h3 style = "color:Purple">radians = deg2rad(degrees)</h3>


<h3 style = "color:Purple">degrees = rad2deg(radians)</h3>

In [29]:
println(deg2rad(180))

println(rad2deg(3.14))

3.141592653589793
179.9087476710785

<h3 style = "color:Purple">Trigonometric Functions</h3>


* sin(), cos(), tan(), cot(), sec(), csc()


* sind(), cosd(), tand(), cotd(), secd(), cscd()

In [30]:
println(sin(3.14))

println(cos(3.14))

println(tan(3.14))

0.0015926529164868282
-0.9999987317275395
-0.001592654936407223

In [31]:
println(sind(180))

println(cosd(180))

println(tand(180))

0.0
-1.0
-0.0

<h3 style = "color:Purple">Inverse Trigonometric Functions</h3>


* asin(), acos(), atan(), acot(), asec(), acsc()


* asind(), acosd(), atand(), acotd(), asecd(), acscd()

In [32]:
println(asind(1))

println(acosd(1))

println(atand(1))

90.0
0.0
45.0

<h3 style = "color:Purple">Hyperbolic Functions</h3>


* sinh(), cosh(), tanh(), coth(), sech(), csch()


* asinh(), acosh(), atanh(), acoth(), asech(), acsch()

In [34]:
println(sinh(1))

println((exp(1) - exp(-1))/2)

1.1752011936438014
1.1752011936438014

In [35]:
println(cosh(1))

println((exp(1) + exp(-1))/2)

1.5430806348152437
1.5430806348152437

In [36]:
println(tanh(1))

println((exp(1) - exp(-1))/(exp(1) + exp(-1)))

0.7615941559557649
0.7615941559557649

<h3 style = "color:Purple">result = factorial(num)</h3>

In [38]:
println(factorial(5))

println(factorial(0))

120
1

<h3 style = "color:Purple">result = eval(expression)</h3>

In [39]:
x  = 2

eval(3x^2 + 4x + 2 )

22